<article>
    <div class="ui segment piled" *ngIf="status === 1">
        <div>
            <a class="ui header" [routerLink]="['','article',article.id]">{{article.title}}</a>
        </div>
        <div id="content">{{article.content}}</div>
    </div>
</article>
<div class="ui icon message" *ngIf="status === 0">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            Just one second
        </div>
    </div>
</div>
<div class="ui error message" *ngIf="status === 2">
    Error
</div>